main{
  display: grid;
  place-items: center;
  margin: 5rem var(--main-custom-margin);
}
.navbar{
  min-height: 156px;
  background: url('./assets/images/bg-header-desktop.svg'), var(--dark-cyan);
}

@media (max-width: 1440px){
  main{
    --main-custom-margin: 1rem;
    margin: 5rem var(--main-custom-margin);
  }
  .attribution{
    text-align: center;
  }
}